.DS_Store
wp-lib
wp
vendor
.data
.idea
*.log
local-config.php

# Any dot prefixed scripts are dynamically generated and should be ignored.
containers/scripts/.*

wp-content/uploads
wp-content/plugins
wp-content/themes

# The directory where we're downloading the plugins in different versions.
test/_plugin_store

# Local file used to test the script locally.
.env.licenses

# Ignore the local version of WordPress and the plugins files used in local development and testing.
_wordpress
_plugins
# Any .using file created by the slic cli tool.
.using
# Any .env.slic.* file created to override the slic cli tool configuration or to configure the runs.
.env.slic.local
.env.slic.run

# Any .build-version file created by the slic cli tool.
.build-version
# Any .remote-version file created by the slic cli tool.
.remote-version
# Any architecture detection flag file.
.architecture_arm64
.architecture_x86

# slic own cache directory
.cache

# slic lastruntime
.lastruntime